@model Themane.Web.Models.SummaryResults

@{
  ViewData["Title"] = "Summary Results";
}


<div>
  <h2>Summary Results</h2>
  <hr />
  <dl class="dl-horizontal">
    <dt><br />@Html.LabelFor(model => model.Input, "Input")</dt>
    <dd><br />@Html.TextAreaFor(model => model.Input, htmlAttributes: new { @class = "form-control", @readonly = true, @rows = "50", @style = "width: 100%; max-width: 100%;" })</dd>
    <hr />

    <dt><br />@Html.LabelFor(model => model.TextRank, "Text Rank")</dt>
    <dd><br />@Html.TextAreaFor(model => model.TextRank, htmlAttributes: new { @class = "form-control", @readonly = true, @rows = "50", @style = "width: 100%; max-width: 100%;" })</dd>
    <dd><br /><button onclick="CopyText('TextRank')" class="btn btn-default">Copy text</button></dd>
    <hr />

    <dt><br />@Html.LabelFor(model => model.OpenTextSummarizer, "Open Text Summarizer")</dt>
    <dd><br />@Html.TextAreaFor(model => model.OpenTextSummarizer, htmlAttributes: new { @class = "form-control", @readonly = true, @rows = "50", @style = "width: 100%; max-width: 100%;" })</dd>
    <dd><br /><button onclick="CopyText('OpenTextSummarizer')" class="btn btn-default">Copy text</button></dd>
    <hr />

    <dt><br />@Html.LabelFor(model => model.CodePlexOpenTextSummarizer, "CodePlex Open Text Summarizer")</dt>
    <dd><br />@Html.TextAreaFor(model => model.CodePlexOpenTextSummarizer, htmlAttributes: new { @class = "form-control", @readonly = true, @rows = "50", @style = "width: 100%; max-width: 100%;" })</dd>
    <dd><br /><button onclick="CopyText('CodePlexOpenTextSummarizer')" class="btn btn-default">Copy text</button></dd>
  </dl>

  <script>
    function CopyText(id)
    {
      /* Get the text field */
      var copyText = document.getElementById(id);

      /* Select the text field */
      copyText.select();

      /* Copy the text inside the text field */
      document.execCommand("copy");
    }
  </script>
</div>
<div>
  <a asp-action="Index">Back</a>
</div>
