@model Themane.Web.Models.SummaryResults

@{
  ViewData["Title"] = "SummaryResults";
}

<h2>SummaryResults</h2>

<div>
  <h4>Summary Results</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt><br />@Html.DisplayNameFor(model => model.Input)</dt>
    <dd><br />@Html.TextAreaFor(model => model.Input, htmlAttributes: new { @class = "form-control", @rows = "50", @style = "width: 100%; max-width: 100%;" })</dd>

    <dt><br />@Html.DisplayNameFor(model => model.OpenText)</dt>
    <dd><br />@Html.TextAreaFor(model => model.OpenText, htmlAttributes: new { @class = "form-control", @rows = "50", @style = "width: 100%; max-width: 100%;" })</dd>

    <dt><br />@Html.DisplayNameFor(model => model.OpenTextSummarizer)</dt>
    <dd><br />@Html.TextAreaFor(model => model.OpenTextSummarizer, htmlAttributes: new { @class = "form-control", @rows = "50", @style = "width: 100%; max-width: 100%;" })</dd>

    <dt><br />@Html.DisplayNameFor(model => model.CodePlexOpenTextSummarizer)</dt>
    <dd><br />@Html.TextAreaFor(model => model.CodePlexOpenTextSummarizer, htmlAttributes: new { @class = "form-control", @rows = "50", @style = "width: 100%; max-width: 100%;" })</dd>
  </dl>
</div>
<div>
  <a asp-action="Index">Back</a>
</div>
