@model Themane.Web.ViewModels.AccountViewModel

@{
  ViewData["Title"] = "Account - " + Model.Contact.Email;
}

<h2>Account</h2>

<div class="row">
  <div class="form-horizontal">
    <div class="form-group">
      @Html.LabelFor(model => model.Contact.GivenName, "Given Name:", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(model => model.Contact.GivenName, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @readonly = true })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Contact.Surname, "Surname:", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(model => model.Contact.Surname, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @readonly = true })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Contact.Email, "Email:", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(model => model.Contact.Email, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @readonly = true })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Company, "Company:", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextBoxFor(model => model.Company.Name, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;", @readonly = true })
      </div>
    </div>
  </div>
</div>
